
/* main */

#playerscore,#iascore{
    color: #FC7987;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

button{
    width: 200px;
    height: 60px;
}

.btn{
    flex-direction: column;
}

.Win{
    font-size: 40px;
    color: #FC7987;
    margin-bottom: 10px;
}
/* media queries */

@media (max-width: 768px){
    main{
        text-align: center;
    }

    .cardPos{
        align-items: center;
    }
}