/* général */

@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Krona+One&family=Roboto:wght@300;400&display=swap');

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}


h1{
    font-family: 'Fascinate Inline', cursive;
    font-size: 30px;
}

h2,h3{
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    margin: 15px 0 ;
}

h3{
    font-size: 18px;
}

p,a,li{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


/* header */

header{
    background: #242121;
    color: white;
    padding: 30px;
}

header section,header article{
    gap: 50px;
}

header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


nav{
    gap: 50px;
}

nav a{
    color: rgba(255,255, 255, 0.7);
    text-decoration: none;
}

a:hover, a p:hover{
    color: white;
    text-decoration: 2px #FC7987 underline;
    font-size: 17px;
}

/* main */

main{
    padding: 30px;
}

.Naffich{
    display: none;
}

.Naffich2{
    display: none;
}

.affich{
    display: block;
}

.row{
    gap: 50px;
}

.row2{
    margin-top: 50px;
}

.cardPos {
    align-items: flex-start;
}

.affich2{
    display: flex;
}

.pierre,.feuille,.ciseaux,.random{
    width: 250px;
    height: 350px;
}

.pointer{
    cursor: pointer;
}

.pierre{
    background: url(../images/rockcard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.feuille{
    background: url(../images/papercard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ciseaux{
    background: url(../images/scissorscard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.random{
    background: url(../images/random.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

button{
    color: white;
    background: #242121;
    border-radius: 20px;
    border: 2px solid #adadad;
}

button:hover{
    text-decoration: 2px #FC7987 underline;
}

/* media queries */

@media (max-width: 768px) {

    .flex{
        flex-direction: column;
    }

    .initialitems{
        align-items: initial;
    }

    header{
        padding: 10px;
    }

    h1{
        text-align: center;
    }

    .telrow{
        flex-direction: row;
        margin:  30px;
    }
}