/* général */

@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Krona+One&family=Roboto:wght@300;400&display=swap');

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Fascinate Inline', cursive;
    font-size: 30px;
}

h2,h3{
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    margin: 15px 0 ;
}

h3{
    font-size: 18px;
}

p,a,li{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* header */

header{
    background: #242121;
    color: white;
    padding: 30px;
}

header section,header article{
    gap: 50px;
}

header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header img:hover{
    cursor: pointer;
}

nav{
    gap: 50px;
}

nav a{
    color: rgba(255,255, 255, 0.7);
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: 2px #FC7987 underline;
    font-size: 17px;
}

/* main */

.Naffich{
    display: none;
}

.affich{
    display: block;
}

/* media queries */

@media (max-width: 768px) {

    .flex{
        flex-direction: column;
    }

    .initialitems{
        align-items: initial;
    }

    header{
        padding: 10px;
    }

    h1{
        text-align: center;
    }

    .telrow{
        flex-direction: row;
        margin:  30px;
    }
}